{% extends 'base.html' %}

{% load static %}
{% block body %}

 {% include "include/lesson_nav.html" %}

    <div class="card shadow-sm border-0">
      <div class="card-header bg-white">
        <h5 class="mb-0">Lesson List</h5>
      </div>

      <div class="card-body">
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Course Name</th>
              <th>instructor</th>
              <th>Lesson Order</th>
              <th>Status</th>
              <th width="180">Action</th>
            </tr>
          </thead>

          <tbody>
            {% for lesson in page_obj %}
              <tr>
                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.course }}</td>
                <td>{{ lesson.instructor }}</td>
                <td>{{ lesson.order_number}}</td>
                <td>
                  {% if lesson.status == "published" %}
                    <span class="badge bg-success">Published</span>
                  {% else %}
                    <span class="badge bg-danger">Draft</span>
                  {% endif %}
                </td>
                 
                <td>
                  <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-sm btn-warning">View</a>

                  {% if user.role != 'student' %}
                  <a href="{% url 'lesson_edit' lesson.id %}" class="btn btn-sm btn-warning">Edit</a>

                  <a href="{% url 'lesson_delete' lesson.id %}" class="btn btn-sm btn-danger delete-btn">Delete</a>
                   {% endif %}
                </td>
               
              </tr>
            {% empty %}
              <tr>
                <td colspan="5" class="text-center">No Lesson found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% comment %}pagination{% endcomment %}
        <nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  

{% endblock body %}
{% block scripts %}
<script src="{% static 'js/category.js' %}"></script>
{% endblock scripts %}

